body{
   font-family: "Raleway";
   font-size: 16px;
   min-width: 320px;
}
.p0{
   padding: 0;
}

/*BUTTONS*/

.my_btn{
   background: #FF4343;
   border: none;
   text-transform: uppercase;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
   color: #FFFFFF;
}
.my_btn:hover{
   background: #E71414;
}
.my_btn:active{
   background: #FF4343;
   box-shadow: 4px 4px 30px #FF4343;
}
.btn_md{
   padding: 28px 50px;
}
.btn_lg{
   padding: 15px 50px;
}

.soc_btn_grey{
   border: 1px solid #c6cacc;
   color: #c6cacc;
   background-color: transparent;
   width: 40px;
   height: 40px;
}
.soc_btn_grey:hover{
   border: 1px solid #FF4343;
}
.soc_btn_grey i.fa.fa-facebook:hover{
   color: #4267b2;
   transition: .3s;
}
.soc_btn_grey i.fa.fa-twitter:hover{
   color: #1da1f2;
   transition: .3s;
}
.soc_btn_grey i.fa.fa-linkedin-square:hover{
   color: #007b21;
   transition: .3s;
}


.soc_btn_white{
   border: 1px solid #fff;
   color: #fff;
   background-color: transparent;
   width: 40px;
   height: 40px;
   margin: 13px;
}
.soc_btn_white:hover{
   border: 1px solid #FF4343;
   transition: .3s;
}

.call_btn{
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #fff;
	background-color: #e84545;
	border: none;
	z-index: 999;
}

/*HEADER*/

header{
	height: 768px;
	background-image: linear-gradient(to bottom, rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)),url('../img/img_banner.jpg');
	-webkit-background-size: cover;
	background-size:100% 100%;
   position: relative;
}

nav{
	height: 100px;
	line-height: 94px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu li{
	display: inline-block;
	padding: 0 30px;
}
.menu li:hover{
	border-bottom: 3px solid #BABBC5;
}
.menu li:active{
	border-bottom: 3px solid #E71414;
}
.menu li a{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 13px;
   line-height: 15px;
   text-transform: uppercase;
   color: #FFFFFF;
   position: relative;
   text-decoration: none;
}
.menu li a:hover {
   text-decoration: none;
}
.menu li a:active{
	text-decoration: none;
	color: #E71414;
}
.top_line{
	height: 1px;
	background-color:#BABBC5;
}
.logo{
	padding-top: 35px;
}

.title_block{
	color: #fff;
	text-align: center;
	margin-top: 230px;
}
.title_block h1{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 900;
   font-size: 64px;
   line-height: 75px;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 30px;
}
.title_block p{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   color: #FFFFFF;
	margin-bottom: 80px;
}

/*PARAMETRS*/

.params_s{
	padding: 95px 0;
}
.param_block{
	text-align: center;
	margin-bottom: 100px;
}
.param_block i{
	font-size: 70px;
	color: #e84545;
}
.param_block h3{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 28px;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   color: #2D3033;
   margin-top: 30px;
}
.param_block p{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #6C7279;
   margin-top: 20px;  /* s */
}

/*WORKS*/

.work_block{
	position: relative;
}
.image_wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 67, 67, .8);
   border: 2px solid #FFFFFF;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	opacity: 0;
}
.image_wrap:active{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(185, 12, 12, .8);
   border: 2px solid #FFFFFF;
}
.work_block:hover .image_wrap{
	opacity: 1;
}

.work_descr{
	color: #fff;
	text-align: center;
	margin: auto;
}
.work_descr h4{
	font-family: 'Raleway';
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
   color: #FFFFFF;
   padding-bottom: 20px;
}
.work_descr p{
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
}
.img-responsive {
   width: 100%;
}


/*TEAM*/

.team_s{
	padding: 80px 0;
	color: #6c7279;
}
.team_item h4{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   text-transform: capitalize;
   color: #2D3033;
}
.team_item>span{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   text-transform: uppercase;
   color: #FF4343;
}
.team_item p{
   padding: 18px 0 38px 0;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #6C7279;
}

* {box-sizing:border-box}

/* Clear floats after the columns */

.row:after {
   content: "";
   display: table;
   clear: both;
}

.slide:first-child {
   display: block;
}

.slide:nth-of-type(1) {
   background: #5C3249;
}


.slide_buttons {
   left: 0;
   position: absolute;
   right: 0;
   text-align: center;
}

a.slide_btn {
   color: #474544;
   font-size: 42px;
   margin: 0 0.175em;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.slide_btn.active, .slide_btn:hover {
   color: #428CC6;
   cursor: pointer;
}



.previous_btn:hover, .next_btn:hover {
   opacity: 1;
}

@media only screen and (max-width: 767px) {
   .previous_btn {
   left: 50px;
   }
   .next_btn {
   right: 50px;
   }
}


 /* slider  */
.item .active{
   position: relative;
}
.team_item__slider {
   margin: auto;
} 
.team_item__slider{
   background-color: #4267b2;
}
.img_right {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 67, 67, .8);
   border: 2px solid #FFFFFF;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   opacity: 0;
}
.slide_text {
   color: #fff;
   text-align: center;
   margin: auto;
}


.fon_sl{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #5C3249;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.sl_descr h2 {
   font-family: 'Cardo';
   font-style: italic;
   font-weight: 400;
   font-size: 24px;
   line-height: 32px;
   text-transform: capitalize;
}
.sl_descr h6 {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 12px;
   line-height: 14px;
   text-transform: uppercase;
}


.sl_descr{
	color: #fff;
	text-align: left;
	margin: auto;
   padding: 0 80px 80px;
}
/* slider */


/*DOWNLOAD*/

.download{
   padding: 80px 0;
}
.download_block{
   text-align: center;
}
.download_block h5{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 30px;
   line-height: 35px;
   color: #000000;
}
.download_block p{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   text-transform: uppercase;
   color: #000000;
   margin-bottom: 50px;
}

/*FOOTER*/
.main_footer{
	padding: 70px 0;
	background-color: #353C65;
}
.footer_item{
	text-align: center;
	margin-bottom: 20px;
}
.footer_item h5{
	font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 28px;
}
.footer_item p{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   text-transform: capitalize;
   color: #FFFFFF;
}
.copyright_block{
	background-color: #2C3154;
	text-align: center;
	padding: 30px 0;
}
.copy_txt{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   text-transform: capitalize;
   color: #808080;
}
.copy_txt span{
   color: #FFFFFF;
}
/*MODALS*/
#dlForm{
	width: 70%;
	margin: 0 auto;
}
#dlForm input{
	margin-bottom: 15px;
}

