/* reset */
*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
}
a{
   text-decoration: none;
}
ul,
ol,
li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
   font-weight: inherit;
   font-size: inherit;
}
html,
body {
   height: 100%;
}
html, body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%; }
/* raleway-regular - latin */
@font-face {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   src: local(''),
        url('../fonts/raleway-v28-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/raleway-v28-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
 /* open-sans-regular - latin */
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/open-sans-v29-latin-regular.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/open-sans-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans-v29-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
 /* open-sans-700 - latin */
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   src: url('../fonts/open-sans-v29-latin-700.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/open-sans-v29-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans-v29-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans-v29-latin-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans-v29-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans-v29-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* social */
.social {
   width: 1510px;
   height: 140px;
   background: #F8EFEF;
   margin: 0 auto;
}
.social__content {
   width: 100%;
   height: 100%;
   display: flex;
   margin: 0 auto;
   align-content: stretch;
   justify-content: center
}
.conteuner{
   display: flex;
   flex-direction: column;
   margin-left: 170px;
}
.social__title {
   width: 470px;
   height: 60px;
   display: flex;
   justify-content: flex-start;
}
.social h4 {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   display: flex;
   align-items: center;
   text-transform: capitalize;
   color: #333333;
}
.social__text {
   width: 470px;
   height: 40px;
   display: flex;
   margin-top: 18px;
   justify-content: flex-start;
}
.social__text h5 {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   display: flex;
   align-items: center;
   color: #86878B;
}
.social__icon {
display: flex;
align-items: center;
align-content: center;
margin-left: 30px;
color: #CCCCCC;
}
.social__icon svg {
   max-width: 70px;
   max-height: 70px;
   margin-right: 30px;
}
.social__icon .rss-i :last-child {
   margin-right: 0;
}
.facebok-i :hover {
   transition: .3s;
   fill: #4267b2;
}
.twitter-i :hover {
   transition: .3s;
   fill: #1da1f2;
}
.linkedin-i :hover {
   transition: .3s;
   fill: #007b21;
}
.pinterest-i :hover {
   transition: .3s;
   fill: #bd081c;
}
.instagram-i :hover {
   transition: .3s;
   fill: #fcaf45;
}
.github-i :hover {
   transition: .3s;
   fill: #24292f;
}
.rss-i :hover {
   transition: .3s;
   fill: #ee802f;
}


/* 1 page -tabs */
.tabs__header {
   width: 1170px;
   height: 540px;
   margin: 0 auto;
   padding: 0 15px;
   margin-top: 100px;
   margin-bottom: 50px;
}
section {
   width: 1170px;
   height: 500px; 
   display: flex;
   padding-left: 100px;
   border: 1px solid #C6CBCD;
   justify-content: center;
}
/*заголовок контейнера*/
section .item-tabs__title {
   width: 570px;
   height: 125px;
   margin: 0 auto;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 41px;
   display: flex;
   align-items: center;
   color: #000000;
   margin: 0 auto;
   margin-left: 0;
}
.item-tabs__text {
   width: 570px;
   height: 210px;
   margin: 0 auto;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #000000;
   display:inline;
   text-align: left;
}
.item-tabs__btn-dw {
   width: 270px;
   height: 60px;
   margin-top: 30px;
   background: #EC7979;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   display: flex;
   text-align: center;
   text-transform: capitalize;
   color: #FFFFFF;
   align-items: center;  /* центрирую */
   justify-content: center;
   transition-duration: 0.5s;
}
.item-tabs__btn-dw:hover {
   background: #AB4949;
}
.item-tabs__btn-dw:active {
   background: #EC7979;
   box-shadow: inset 0px 0px 10px #AB4949;
}
.text-paragraph{
   text-align: left;
}
.text-paragraph:nth-last-child(3) {
   margin-top: 18px;
}
.tabs nav label {
   display: block;
   height: 100%;
   width: 100%;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   text-align: center;
   cursor: pointer;
   position: relative;
   z-index: 1;
   color: #333333;
   border-radius: 5px;
   transition: all 0.3s ease;
   padding: 10px 16px;
}
nav .slider {
   position: absolute;
   height: 100%;
   width: calc(100%/3);
   left: 0;
   bottom: 0;
   z-index: 0;
   border-radius: 5px 5px 0 0;
   border: 1px solid #C6CBCD;
}
nav .slider:after {
   content: '';
   position: absolute;
   width: 100%;
   bottom: 0;
   height: 2px;
   left: 50%;
   background-color: #ffffff;
   margin: 0 0 -2px -94px; 
}

/*переключение анимация*/
input[type="radio"] {
   display: none;
}
#TAB2:checked ~ nav .slider {
   left: calc(100%/3);
}
#TAB3:checked ~ nav .slider {
   left: calc(100%/1.5);
}
section .tab {
   display: none; 
}
#TAB1:checked ~ nav label.tabl1,
#TAB2:checked ~ nav label.tabl2,
#TAB3:checked ~ nav label.tabl3 {
   color: rgb(15, 13, 13);
}
#TAB1:checked ~ section .item-tabs1,
#TAB2:checked ~ section .item-tabs2,
#TAB3:checked ~ section .item-tabs3{
   display: block;
} 
.tab__i {
   flex: calc(100%/3);
   display: flex;
   align-items: center;
   text-transform: uppercase;
   justify-content: center;
   width: 570px;
   height: 40px;
   position: relative;
   display: flex;
}
.img-tabs {
   width: 470px;
   height: 500px;
   margin-left: 30px;
}
/*2 page - about*/
.about {
   max-width: 1170px;
   max-height: 900px;
   margin:0 auto;
   padding: 0 15px;
}
.about__header {
   margin: 0 0 110px 0;
}
.about__title {
   margin: 0 0 40px 0;
   display: flex;
   align-items: center;
   text-align: center;
   margin: 0 auto;
   justify-content: center;
}
.title {
   width: 1170px;
   height: 150px;
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 36px;
   font-style: normal;
   line-height: 42px;
   align-items: center;
   position: relative;
   text-align:center; }
   .title:after {
      content: '';
      position: absolute;
      width: 170px;
      bottom: 0;
      height: 1px;
      left: 50%;
      background-color: #EC7979;
      margin: 0 0 0 -85px; }
.about__text {
   max-width: 1170px;
   height: 20px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #86878B;
   margin: 0 auto;
   justify-content: center;
   margin-top: 40px;
}
.about__content {
   font-size: 0;
   display: flex;
   margin-top: 110px;
}
.about__col {
   flex: 0 0 calc(100%/3);
}
.item-about__img {
   margin: 0 auto 40px auto;
   display: flex;
   justify-content: center;
}
.item-about__title {
   width: 370px;
   height: 100px;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   display: flex;
   align-items: center;
   text-align: center;
   text-transform: capitalize;
   color: #000000;
   align-items: center;  /* центрирую */
   justify-content: center;
   margin: auto;
}
.item-about__text {
   width:370px;
   height:105px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #000000;
   margin: auto;
}
/*3 page - pricing options*/
.pricing__body {
   width: 1510px;
   height: 900px;
   margin: 0 auto;
   margin-top: 50px;
   background: #F5F5F5;
}
.pricing__header {
   margin: 0 0 80px 0;
}
.pricing__title {
   margin: 0 0 40px 0;
   display: flex;
   align-items: center;
   text-align: center;
   margin: 0 auto;
   justify-content: center;
}
.pricing__title {
   width: 1170px;
   height: 150px;
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 36px;
   font-style: normal;
   line-height: 42px;
   align-items: center;
   position: relative;
   text-align:center; }
   .pricing__title:after {
      content: '';
      position: absolute;
      width: 170px;
      bottom: 0;
      height: 1px;
      left: 50%;
      background-color: #EC7979;
      margin: 0 0 0 -85px;
   }
.pricing__text {
   max-width: 1170px;
   height: 20px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #86878B;
   margin: 0 auto;
   justify-content: center;
   margin-top: 40px;
}
.pricing__content {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 100%;
}
.pricing__price {
   width: 370px;
   height: 510px;
   float: left;
   text-align: center;
   background: #333333;
   margin-right: 30px;
}
.pricing__price:last-child {
   margin-right: 0;
}
.price {
   width: 370px;
   height: 100px;
   background: #333333;
   text-align: center;
   justify-content: center;
}
.freeflife {
   width: 370px;
   height: 50px;
   background: #333333;
   color: #FFFFFF;
   text-align: center;
   margin: 0 auto;
}
.pricing__price h4 {
   width: 370px;
   height: 60px;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   text-transform: capitalize;
   color: #FFFFFF;
   border: 2px solid #F5F5F5;
}
.price h3 {
   width: 100%;
   height: 100%;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #FFFFFF;
   justify-content: center;
   border: 2px solid #F5F5F5;
}
.freeflife h5 {
   width: 370px;
   height: 50px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   color: rgba(255, 255, 255, 0.5);
   border: 2px solid #F5F5F5;
}
.deals h5 {
   width: 370px;
   height: 50px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   display: flex;
   align-items: center;
   text-align: center;
   text-transform: capitalize;
   color: #86878B;
   justify-content: center;
   background: #FFFFFF;
   border: 2px solid #F5F5F5;
}
.pricing__price:hover {
   filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
   margin-top: -20px;
}